/composer.json
/.env.example
/readme.md
/.gitignore
/gulpfile.js
/phpspec.yml
/package.json
/phpunit.xml
/server.php
/composer.lock
/.gitattributes
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/bootstrap/cache
/public/.htaccess
/artisan
/storage/logs
/.idea/